<div class="login">
<div class="login-container">
    <h2>Iniciar sesión</h2>
    <form>
      <div class="input-group">
        <input type="text" id="username" name="username" required>
        <label for="username">Nombre de usuario</label>
      </div>
      <div class="input-group">
        <input type="password" id="password" name="password" required>
        <label for="password">Contraseña</label>
      </div>
      <button type="submit">Iniciar sesión</button>
      <a class="forgot-password">Olvidé mi contraseña</a>
    </form>
</div>
</div>

<!-- $primary: #6D58FF;
$primary-dark: #362A89; -->
<!-- F6F8FF -->