<div class="card">
    <form [formGroup]="formSolicitud" autocomplete="off" (click)="createSolicitud()" *ngIf="solicitdado === false;">
        <div class="flex-auto">
            <span class="font-bold block mb-2">Nombre</span>
            <input type="text" pInputText formControlName="nombre" />
            <!-- <small id="username-help">Enter your username to reset your password.</small> -->
        </div>
        <div class="flex-auto">
            <span class="font-bold block mb-2">Correo</span>
            <input type="email" pInputText formControlName="email" />
        </div>
        <div class="flex-auto">
            <span class="font-bold block mb-2">Celular</span>
            <p-inputMask mask="(999) 999-9999" formControlName="celular" ></p-inputMask>
            <!-- <small id="username-help">Enter your username to reset your password.</small> -->
        </div>
        <div class="flex-auto comboxAutoslected">
            <span class="font-bold block">Departamento</span>
            <div class="card flex justify-content-center">
                <p-autoComplete [dropdown]="true" [suggestions]="filteredDepartamentos" (onSelect)="changeDepartamento($event)" (completeMethod)="filterDepartamentos($event)" field="departamento"></p-autoComplete>
            </div>
        </div>
        <div class="flex-auto comboxAutoslected">
            <span class="font-bold block">Ciudad</span>
            <p-autoComplete formControlName="ciudad" [dropdown]="true" [suggestions]="filteredCiudades" (completeMethod)="filterCiudades($event)" field="nombre"></p-autoComplete>
        </div>
        <div class="flex-auto">
            <span class="font-bold block mb-2">Dirección</span>
            <input type="text" pInputText formControlName="direccion" />
            <!-- <small id="username-help">Enter your username to reset your password.</small> -->
        </div>
    </form>
    <p-button (onClick)="solicitar()" label="CREAR EMPRESA" [disabled]="formSolicitud.status === 'VALID' ? false: true" icon="pi pi-arrow-circle-right" styleClass="p-button-warning" badgeClass="p-badge-danger"></p-button><br>
    
    
</div>