<app-nav-menu/>
<h1 style="padding-top: 75px;">{{category || ''}}</h1>

<div class="products">
@for (product of products; track $index) {
    <div class="card card-product shadow-sm h-100" style="cursor: pointer;" (click)="addProductoCar(product)">
        <div class="precios">
            <p-tag class="p-tag-text" [value]="'En Oferta'" [severity]="'warning'"></p-tag>
            <h2 class="card-title">{{'$109.000 COP'}}</h2>
        </div>
        <div style="position: relative;">
            <img src="assets/logo/logoDoradoSinfondo.png" style="position: absolute;
            top: 10%;
            left: 90%;
            transform: translate(-50%, -50%); z-index: 998;" alt="" width="30" height="33">
            <img class="card-img-top" src='assets/gafas/IMG-20240924-WA0080.jpg' alt='' style="width: 100%;">
        </div>
        <div class="card-body h-100">
            <h4>{{product.nombre || ''}}</h4>
            <h6>{{product.descripcion || ''}}</h6>
          <div class="card flex justify-content-center">
            <p-rating [cancel]="false" [(ngModel)]="estrellas" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="precios">
                <h2 class="card-title" style="text-decoration:line-through;">${{'200.000 COP'}}</h2>
            </div>
        </div>
    </div>
}
</div>
<p-toast position="top-center" key="tc"></p-toast>