<section id="content">
    <main>
        <div class="head-title">
          <div class="left">
            <h1>EMPRESAS</h1>
            <ul class="breadcrumb">
              <li>
                <a >ADMINISTRADOR</a>
              </li>
              <li><i class='bx bx-chevron-right' ></i></li>
              <li>
                <a class="active" >EMPRESAS</a>
              </li>
            </ul>
          </div>
          <a  class="btn-add" (click)="this.show(false)">
            <i class='bx bxs-add-to-queue' ></i>
            <span class="text">CREAR EMPRESA</span>
          </a>
        </div>
    

    
        <div class="table-data">
          <div class="todo">
            <div class="head">
              <h3>Empresas</h3>
              <i class='bx bx-plus' ></i>
              <i class='bx bx-filter' ></i>
            </div>
            
            <ul class="todo-list">
              
              <li class="completed">
                <p>Empresa</p>
                <p-menu #menu2 appendTo="body" [model]="items" [popup]="true"></p-menu>
                <i class='bx bx-dots-vertical-rounded' (click)="menu2.toggle($event)"></i>
              </li>
              <li class="completed">
                <p>Empresa</p>
                <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
              <li class="not-completed">
                <p>Empresa</p>
                <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
              <li class="completed">
                <p>Empresa</p>
                <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
              <li class="not-completed">
                <p>Empresa</p>
                <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
            </ul>
          </div>
        </div>
    </main>
    </section>