<section id="content">
<main>
    <div class="head-title">
      <div class="left">
        <h1>ORDENES DE ENVIO</h1>
        <ul class="breadcrumb">
          <li>
            <a >ADMINISTRADOR</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" >ORDENES DE ENVIO</a>
          </li>
        </ul>
      </div>
      <a  class="btn-download">
        <i class='bx bxs-add-to-queue' ></i>
        <span class="text">CREAR ORDEN</span>
      </a>
    </div>

    <ul class="box-info">
      <li [ngClass]="tabEstado === 'ordenes'? 'active':''" (click)="changeTabEstado('ordenes')">
        <i class='bx bxs-shopping-bag-alt' ></i>
        <span class="text">
          <p>Ordenes</p>
        </span>
      </li>
      <li [ngClass]="tabEstado === 'aceptadas'? 'active':''" (click)="changeTabEstado('aceptadas')">
        <i class='bx bxs-calendar-check' ></i>
        <span class="text">
          <p>Aceptadas</p>
        </span>
      </li>
      <li [ngClass]="tabEstado === 'enCamino'? 'active':''" (click)="changeTabEstado('enCamino')">
        <i class='bx bxs-map-pin'></i>
        <span class="text">
          <p>En Camino</p>
        </span>
      </li>
      <li [ngClass]="tabEstado === 'entregado'? 'active':''" (click)="changeTabEstado('entregado')">
        <i class='bx bxs-check-shield'></i>
        <span class="text">
          <p>Entregado</p>
        </span>
      </li>
    </ul>


    <div class="table-data">
        @if (tabEstado === 'ordenes') {
            <div class="order">
                <div class="head">
                  <h3>ORDENES</h3>
                  <i class='bx bx-search' ></i>
                  <i class='bx bx-filter' ></i>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Date Order</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status process">Process</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        } @else if(tabEstado === 'aceptadas') {
            <div class="order">
                <div class="head">
                  <h3>ACEPTADAS</h3>
                  <i class='bx bx-search' ></i>
                  <i class='bx bx-filter' ></i>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Date Order</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status process">Process</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        } @else if(tabEstado === 'enCamino') {
            <div class="order">
                <div class="head">
                  <h3>EN CAMINO</h3>
                  <i class='bx bx-search' ></i>
                  <i class='bx bx-filter' ></i>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Date Order</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status process">Process</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        } @else if(tabEstado === 'entregado') {
            <div class="order">
                <div class="head">
                  <h3>ENTREGADOS</h3>
                  <i class='bx bx-search' ></i>
                  <i class='bx bx-filter' ></i>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Date Order</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status process">Process</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                      <td>
                        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                        <p>John Doe</p>
                      </td>
                      <td>01-10-2023</td>
                      <td><span class="status completed">Completed</span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        }
      
    </div>
</main>
</section>